<ion-header *ngIf="isIos()" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Time progress
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header *ngIf="!isIos()" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Time progress</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="solid">
        <ion-icon slot="end" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense" [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Time progress</ion-title>
      <ion-buttons slot="primary">
        <ion-button fill="solid">
          <ion-icon slot="end" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
      <app-time-period *ngFor="let timePeriod of getTimePeriods()" [timePeriod]="timePeriod"></app-time-period>
    </ion-reorder-group>
  </ion-list>
</ion-content>